p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin:0px;
    padding-top:55px;
    padding-left:96px;
    padding-right:24px;
    background-color:#e2dfdf;
}

.mare{
    display:flex;
    border:solid 7px;
    border-color:black;
    height:70px;
}
